/* Smaller screens < 1200px make got to hamburger nav and other responsive features*/
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        max-height: 20vh;
    }

    #profile {
        flex-direction: column;
        gap: 2.5vh;
    }

    .section-text-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        max-height: 50vh;
    }
    
}